*{
    margin: 0;
    padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(#fff, #ffd6d6);
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }

  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
.first{
    height: 100vh;
    width: 100%;
    background: radial-gradient(#fff, #ffd6d6);
    font-family: sans-serif;
    position: relative;
}

nav{
    width: 84%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    background: #101820FF;

}
.logo{
  color: #ffffff;
  margin-top: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

nav ul li a:hover{
    color: #ff4321;
    transition: 0.5s;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    /* margin: 30px 0; */
    border-radius: 10px;
    transition: background 0.5s;
}

.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  font-size: small;
  border-radius: 10px;
  margin: -10px;
  width: 100px;
  padding: 7px 3px;
  transition: 0.4s;
}

  
  .log {
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
  }
  
  .log:hover {
    color: white;
    background-color: rgba(104, 85, 224, 1);
  }

.info{
    margin-left: 8%;
    margin-top: 13%;
    margin-right: 60%;
}

.info h1{
    font-size: 70px;
    color: #212121;
    margin-bottom: 40px;
    animation-delay: 0.5s;
}
.info p{
  line-height:15pt;
  color: #2f2f2f;
  animation-delay: 1s;
}

span{
    color: #ff4321;
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s,left 1s;
}
.img-box:hover .back-img{
    bottom: 40px;
}

.img-box:hover .main-img{
    left: 54%;
}


.social-links{
    margin-left: 8%;
    margin-top: 100px;
}

.social-links a{
    font-size: 30px;
    color: #606163;
    margin-right: 20px;
}

.social-links a:hover{
    color: #ff4321;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}



.testimonial {
    padding-top: 45px;
  }
  
  .testimonial .col-3 {
    text-align: center;
    padding: 80px 2px;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .testimonial .col-3 img {
    width: 60px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
  }
  
  .col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .rating .fa {
    color: #ff523b;
  }

  #ah{
    animation-delay: 0s;
  }
  #aa{
    animation-delay: 0.2s;
  }
  #mm{
    animation-delay: 0.4s;
  }

  #mr{
    animation-delay: 0.6s;
  }
  #hg{
    animation-delay: 0.8s;
  }

.cont{
  padding: 70px;
}
  .form-container {
    border-radius: 12px;
    background: #fff;
    width: 475px;
    height: 500px;
    position: relative;
    text-align: center;
    padding: 45px 0;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  .form-btn {
    display: inline-block;
  }
  
  .form-container form {
    max-width: 400px;
    padding: 30px 15px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
  }
  
  form input {
    width: 100%;
    height: 47px;
    margin: 25px 0;
    padding: 0px 23px;
    border: 2px solid #ccc;
    border-radius: 20px;
}

  form input:hover {
    border-color: #7c7c7c;
    transition: 0.5s;
  }
  
  form .btn {
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    margin: 10px 20px;
  }
  
  form .btn:focus {
    outline: none;
  }
  
  #LoginForm {
    left: -500px;
  }
  
  #RegForm {
    left: 0;
  }
  
  form a {
    font-size: 12px;
    margin-left: 40px;
  }
  
  #Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 20px;
    transform: translateX(135px);
    transition: transform 1s;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    position: absolute;
    font-size: 28px;
    right: -30px;
    top: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.wrapper{
  
  text-align: center;
  padding: 20px 10px;
  box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.data{
  padding: 20px;
}
@media only screen and (max-width: 600px) {
    .row {
      text-align: center;
    }
    .col-2,
    .col-3{
      flex-basis: 100%;
    }
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
